.signup-button-home {
  width: 15%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-button-home:hover {
  background-color: #0056b3;
}
.main {
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
span.user-name {
    font-size: 45px;
    color: blue;
    font-weight: bolder;
}