body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

form input, form select, form textarea, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    background: #008CBA;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #006f96;
}

.view-btn {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: blue;
}

#messageBox {
    margin-top: 15px;
    padding: 12px;
    display: none;
    border-radius: 5px;
}

.success {
    background: lightgreen;
}

.error {
    background: rgb(255, 148, 148);
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }
}
